<div class="container">
    <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2 mt-2 ">
            <label>Nom Ingenieur en tapant</label>
            <input #nom [(ngModel)]="searchTerm" name="searchTerm" class="form-control">
            </div>
        </form>
    <div class="card shadow mb-4">
    <div class="card-body">
    <table class="table table-striped">
    <tr> <th>Id</th><th>Nom</th> <th>Expertise</th><th>Projet</th></tr>
    <tbody *ngFor="let ingenieur of ingenieurs  | searchFilter: searchTerm ">
    <tr >
    <td>{{ingenieur.idIngenieur}}</td>
    <td>{{ingenieur.nomIngenieur}}</td>
    <td>{{ingenieur.expertise}}</td>
    <td>{{ingenieur.projet.nomProj}}</td>
    <!--<td><a class="btn btn-danger" (click)="supprimerIngenieur(ingenieur)">Supprimer</a></td>
    <td><a class="btn btn-success" [routerLink]="['/updateIngenieur',ingenieur.idIngenieur]">Modifier</a></td>-->
    </tr>
    </tbody>
    </table>
    </div>
    </div>
    </div>
    