<div class="container">
    <div>
    <h2>Modifier un Produit :</h2>
    </div>
    <form >
    <div  class="col-sm-2 col-md-2 col-lg-2">
    <label >ID Ingenieur</label>
    <input readonly type="text" [(ngModel)]="currentIngenieur.idIngenieur"
    name="idIngenieur" class="form-control">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4" >
    <label >Nom Ingenieur</label>
    <input type="text"[(ngModel)]= "currentIngenieur.nomIngenieur"
    name="nomIngenieur" class="form-control">
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
    <label >Expertise</label>
    <input type="text" [(ngModel)]= "currentIngenieur.expertise"
    name="Expertise" class="form-control">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <label>Projet</label>
        <select class="form-control form-control-lg" id="idCat" name="idCat"
        [(ngModel)]="updatedProjId">
        <option *ngFor="let proj of projets" [value]="proj.idProj" >
        {{proj.nomProj}}
        </option>
        </select>
        </div>
    <div class="mt-2">
        <button type="submit" (click)="updateIngenieur()" class="btn btn-success">Modifer</button>
        </div>
        </form>
        </div>

    